{% extends "admin.html" %} {% block content %}


<div class="container userform">
    <br/>
    <h1>Member Attendance Report</h1>
    <br/>


    <form action="/admin/checkattendancebydate" method="POST">

        <label for="startdate">Start Date:</label>
        <input type="date" id="startdate" name="startdate" value="{{ startdate | default('2023-01-01') }}">

        <label for="enddate">End Date:</label>
        <input type="date" id="enddate" name="enddate" value="{{ enddate | default('2023-12-31') }}">

        <Button type="submit" value="Yes" class="btn btn-outline-dark offset-sm-1 col-sm-1">Submit</button>
    </form>

    {%if dbresult==[] %}{{message_nodata}}{%endif%}

    {%if dbresult!=[]%}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Type of Visit</th><th>Number of Attendees</th><th>Total Capacity</th><th>Attendance Ratio</th>
        </tr>
        </thead>
    <tbody>

        {%for atten in dbresult_usage%}
        <tr>
            <td>{{atten[0]}}</td>
            <td>{{atten[1]}}</td>
            <td>{{atten[2]}}</td>
            <td>{{atten[3]}}</td>

        </tr>
        {%endfor%}
    </tbody>
    </table>


    <h3>Total Number of Attendees</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Total Number of Attendees</th>
        </tr>
        </thead>
    <tbody>

        {%for total in dbresult_total%}
        <tr>

            <td>{{total[0]}}</td>

        </tr>
        {%endfor%}
    </tbody>
    </table>
    {%endif%}




    <div class="table-responsive">


    </div>
</div>

{% endblock %}
