{% extends "base.html" %} {% block content %}

<div class="row">
  <h1>A membership with benefits</h1>
</div>
<br />
<div class="row">
  <p> A Lincoln Fitness membership gives you unlimited access to 
    fitness classes and our premium gym facility, and the ability to purchase personal 
    training sessions to propel your fitness to the next level. 
   
  </p>
</div>
<div>
  <table
    class="table table-bordered table-dark table-striped table-hover align-middle"
  >
    <tbody>
      <tr>
        <td>
          <div class="row">
            <h4>Monthly membership fee</h4>
            <hr />
          </div>
          <br />
          <div class="row">
            <p style="font-size: 15px">
              We aim to unlock your fitness potential, not lock you in to long contracts! By paying
              a monthly membership fee you will be entitled to train
              at Lincoln Fitness' state-of-the art gym and attend group fitness classes
              at no extra charge.              
            </p>
          </div>
        </td>
        <td>
          <div class="row"><h5>$100</h5></div>
          <div class="row">
            <p style="font-size: 15px">Paid by direct debit on the 1st of each month</p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="row"><h4>Group Fitness Classes</h4></div>
          <hr />
          <div class="row">
            <p style="font-size: 15px">
              All Lincoln Fitness members can book complimentary group fitness classes. 
              With 8 exciting class categories, there is something to suit everyone.               
            </p>
          </div>
        </td>
        <td>
          <div class="row"><h5>Free</h5></div>
          <div class="row">
            <p style="font-size: 15px">Included in your membership fee</p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="row"><h4>Personal Training Sessions</h4></div>
          <hr />
          <div class="row">
            <p style="font-size: 15px">
              All members have the option of booking sessions with our qualified personal trainers.  
              Our talented exercise professionals can create a plan that is tailored to your goals and
              support you to unlock the results you desire.            
            </p>
          </div>
        </td>
        <td>
          <div class="row"><h5>$50/hour</h5></div>
          <div class="row">
            <p style="font-size: 15px">An individual session with the trainer of your choice</p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
