{% extends "base.html" %} {% block content %}




  <form action="/myBooking" class="row g-3">
    <div class="col-auto">
      <label for="dateStart "class="col-form-label" >Choose Date :</label>  
    </div>  
    <div class="col-auto"> 
      <input  type="date" name="dateChosen"  class="form-control "  id="dateChosen" value="{{dateChosen}}" >
    </div>
    <div class="col-auto">
      <button  type="submit" class="btn btn-primary ">Filter</button>
    </div>
  </form>
  
 



  <div class="row" >
    <table class="table text-center table-light" >
      <thead>
        <tr >
          {%for date in dbresultDate%}            
           <th scope="col" class="border p-2 bg-dark text-white " >{{date}}</th> 
          {%endfor%}
         </tr>
          <tr >
         {%for col in dbcols%}            
          <th scope="col" class="border sticky-header" >{{col}}</th> 
         {%endfor%}
        </tr>
  
      </thead>
      <tbody>
        
          
          {%for result in dbresult%}
          <tr>
            {%for value in result%}
            <!-- 变量不是list格式 且变量不是空-->
                  {%if value is not iterable and value is not none%}
                  <th scope="row" class="border noneStyleButton">{{value}}</th>
                  {% else %}
                              {%if value is not none %}
                              <td class="border bg-light text-black" style="position: relative;">
                                <form action="/classes/addClasses/process" method="POST">
                                  <input type="hidden" name="WaitForProcess" value='1'>
                                  <input type="hidden" name="BookedClassDetails" value="1">
                                  <input type="hidden" name="ptsessionbook" {%if value[-1]%}='1' value="yes"{%else%} value='no'{%endif%}>
                                  <button type="submit" name="ClassID" class="btn btn-success" style="position: absolute; top: 0; right: 0; transform: scale(0.8);" value="{{value[0]}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                      <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                    </svg>
                                  </button>
                                </form>
                                <h6>{{value[1]}}</h6>
                                <small>{{value[2]}}</small>
                                <div><small>{{value[3]}}</small></div>
                                <div><small>{{value[4]}}-{{value[5]}}</small></div>
                                <small></small>
                                <form action="/cancelClass" method='POST'>
                                  <button type="submit" name="ClassID" class="btn btn-danger" value="{{value[0]}}"

                                  onclick="return confirm('Are you sure you wish to cancel {{value[1]}} with {{value[2]}} at {{value[4]}} on {{value[3]}}?')">Cancel</button>
                                  <input type="hidden" name="MemberID" value="{{MemberID}}">
                                </form>
                              </td>

                              {%else%} 
                              <th class="border "></th>
                              {%endif%}  
                    {%endif%}    
            {%endfor%}
        
          </tr>
          {%endfor%}
        
      </tbody>
    </table>
  </div>
  

{% endblock %}
